<!DOCTYPE html>
<html>
    <title>Discovery Client Transactiona Accounts</title>
    <head></head>
    <br><br><br><br>
    <div class ="row justify-content-center align-items-center">
        <br><br>
        <body>
            
           <div [hidden]="submitted" style="width: 600px;" class="form-group">
            <p>Display List Of Transactional Accounts</p>
                <form novalidate>
                    <div class="col">
                        <input type="number" class="form-control" id="clientId" name="clientId" 
                                            placeholder="enter client id ..."  [(ngModel)]="clientAccount.clientId" name="clientId" #clientId="ngModel" required>
                                            <div *ngIf="clientId.invalid && (clientId.dirty || clientId.touched)" class="alert alert-danger">
                                                    <div *ngIf="clientId.errors.required">
                                                        Please enter a valid client id
                                                    </div>
                                            </div>            
                    </div>
                </form>
           </div>
         
           <table class="table text-sm-left">
                <thead>
                    <tr>
                        <th >Account Number</th>
                        <th >Account Type</th>
                        <th >Account Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let clientAccount of message">                 
                      <td>{{clientAccount.clientAccountNumber}}</td>                                  
                      <td>{{clientAccount.accountTypeCode}}</td>
                      <td>{{clientAccount.displayBalance}}</td>
                    </tr>
                   
            </table>
            <div class="overlay-right d-flex justify-content-center">
                
                    <button class="btn btn-outline-success form-group col-md-4S justify-content-center align-items-center" style="text-align: center; width: 100px ;"[disabled]="clientId.invalid && (clientId.dirty || clientId.touched)" (click)="getClientById()">Enter</button>
                    <form class='inline-form'>
                      <button class="btn btn-outline-primary form-group col-md-4S justify-content-center align-items-center" style="text-align: center; width: 100px"  [disabled]="clientId.invalid && (clientId.dirty || clientId.touched)" (click)="routeToCurrencyAccounts()">Next</button>
                    </form>
                
            </div>
            
        </body>
    </div>
</html>
